<div class="booking-form">	
	<%=form_with model: @booking do |form| %>

	<div class="form-group">
		<%=form.hidden_field :user_id %><br>
		<%=form.hidden_field :user_id %>
	</div>


	<div class="form-group">
      <%= form.label :date, "Date" %><br>
      <%= form.date_field :date, value: Date.current %>

	</div>

	<div class="form-group">
		<%= form.label :time %><br>
	    <%= form.select :time, ["Select Time","9:30 AM", "12:00 PM", "3:00 PM", "6:00 PM", "9:00 PM"] %>
	</div>
	<div class="form-group">
	  <%= form.label :howmany_seats %><br>
     <%= form.select :howmany_seats, [0,1,2,3,4,5,6,7,8,9,10] %>


	</div>


	<div class="form-group">
		<%= form.label :select_seats %><br>
		<%= form.text_field :select_seats %>

	</div>

	<div class="form-group">
		<%=form.hidden_field :theater_id %><br>
		<%=form.hidden_field :theater_id, value: @theater.id %>
	</div>

	<div class="form-group">
        <%=form.hidden_field :theater_name %><br>
        <%=form.hidden_field :theater_name, value: @theater.theater_name %>
	</div>

	<div class="form-sub">
		<%= form.submit class:"btn btn-secondary" %>
	</div>
	<% end %>
</div>



