<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

<div class="container-fluid">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

    <form class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          
      <%= link_to root_path do %>
        <%= image_tag("logo-4.jpg" , height: '40', width: '180') %>
      <% end %>
          
        <li class="tag"> <%= link_to "ALL MOVIES",movies_path,class:'nav-link text-dark' %></li>
        <li class="tag"> <%= link_to "ABOUT", home_about_path,class:'nav-link text-dark' %></li>
      <% if user_signed_in? %>
        <li class="tag"> <%= link_to "BOOKING LIST", bookings_path,class:'nav-link text-dark' %></li>
       <% if can? :admin, @booking %>
       <li>
          <li class="tag"> <%= link_to "ADD MOVIES",new_movie_path,class:'nav-link text-dark' %></li>
          <li class="tag"> <%= link_to "ADD THEATERS",new_theater_path,class:'nav-link text-dark' %></li>
          <li class="tag"> <%= link_to "THEATER LIST", theaters_path,class:'nav-link text-dark' %></li>
          <% end %>
        </li>
  
        <div class="search">
          <%= form_tag movies_path, method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder:"Search for Movies, Theates", class:'search_bar' %>
          <% end %>
        </div>
          <div class="text-end">
            <%= link_to 'Edit User', edit_user_registration_path, class:'btn btn-light'%>
            <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: :"Are you sure you want to log out"} ,class: "btn btn-light"%>
          </div>
         
          <% else %>
        </form>
        <div class="text-end">
          <%= link_to "Sign Up",   new_user_registration_path, class:"btn btn-light"%>
          <%= link_to "Sign In",  new_user_session_path, class:"btn btn-light"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br />
